@import '../../Sass/_variables'
@import '../../Sass/_mixins'

.app
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px
    position: relative
    margin: 0
    padding: 0
    min-height: 200px
    box-sizing: border-box

    font-family: var(--font-prime)
    font-size: medium
    font-style: normal
    font-weight: 400
    color: var(--color-prime)
    letter-spacing: normal

    @media (min-width: $lg)
        gap: 30px


.caption
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0
    padding: 0
    color: var(--color-prime)
    font-size: 26px
    line-height: 111.687% /* 35.74px */

    @media (min-width: $lg)
        font-size: 32px


.learning
    display: block
    position: relative
    width: 40px !important
    height: 40px !important
    padding: 0 !important

    &:hover
        background-color: var(--color-button-hover)
        border-color: var(--color-button-hover)
        color: var(--color-button-font-lite)

.body
    display: flex
    flex-direction: column
    gap: 20px
    width: 100%
    height: auto
    min-height: 500px

    @media (min-width: $lg)
        flex-direction: row