@import '../../Sass/_variables'
@import '../../Sass/_mixins'

.locations
    display: flex
    flex-direction: column
    gap: 10px
    position: relative
    z-index: 5

    @media (min-width: $md)
        flex-direction: row
        justify-content: space-between
        align-items: center
        gap: 20px


.item
    display: flex
    align-items: center
    position: relative
    width: 100%
    height: 40px
    padding: 0 10px
    user-select: none
    background: var(--color-controllers-back)


.text
    display: flex
    align-items: baseline
    justify-content: space-between
    gap: 5px
    width: 100%
    margin: 0
    padding: 0


.location
    flex-shrink: 0
    display: inline-block
    position: relative
    color: var(--color-prime)
    font-size: 16px
    font-weight: 400
    margin: 0
    padding: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    box-sizing: border-box


.id
    display: inline-block
    position: relative
    margin: 0
    padding: 0
    color: var(--color-scroll-thumb)
    font-size: 12px
    font-weight: 400
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    box-sizing: border-box