@import '../../Sass/_variables'

.button
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: none
    padding: 0
    cursor: pointer
    background: var(--color-controllers-back)
    box-shadow: inset 0 0 0 1px var(--color-border-prime)

    i
        display: block
        position: relative
        width: 25px
        height: 25px
        background: transparent no-repeat center
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjUgMTYuMzY4NFYyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTcuMjUgMTEuMjk3NEwxMS43NTE5IDE2LjAzNjNDMTEuOTUxMSAxNi4yNDM2IDEyLjIxOTkgMTYuMzU5OSAxMi41IDE2LjM1OTlDMTIuNzgwMSAxNi4zNTk5IDEzLjA0ODkgMTYuMjQzNiAxMy4yNDgxIDE2LjAzNjNMMTcuNzUgMTEuMjk3NCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMiAxNC43MVYyMC4yMzYzQzIgMjAuOTY5MyAyLjI3NjYyIDIxLjY3MjIgMi43NjkwMSAyMi4xOTA1QzMuMjYxNCAyMi43MDg5IDMuOTI5MjIgMjMgNC42MjU1NyAyM0gyMC4zNzQ0QzIxLjA3MDggMjMgMjEuNzM4NiAyMi43MDg5IDIyLjIzMSAyMi4xOTA1QzIyLjcyMzQgMjEuNjcyMiAyMyAyMC45NjkzIDIzIDIwLjIzNjNWMTQuNzEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==")
