@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@import 'Sass/_variables'
@import 'Sass/_mixins'

.se-app
    --base-transition: all .1s linear
    // --synth-transition: all 1s cubic-bezier(0.16, 1, 0.3, 1)
    // --synth-timing-func: cubic-bezier(0.16, 1, 0.3, 1)

    --font-prime: "Roboto", sans-serif

    --color-prime: #000
    --color-error: #ff0000

    --color-border-prime: #999

    --color-back-init: #fff
    --color-back-prime: #262626
    --color-back-secondary: #f5f5f5

    --color-button-prime: #262626
    --color-button-sec: #fff
    --color-button-font-dark: #000
    --color-button-font-lite: #fff
    --color-button-font-disabled: #999

    --color-button-hover: #757575
    --color-button-disabled: #eee



    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px
    margin: 0
    padding: 0
    overflow-x: hidden
    box-sizing: border-box

    font-family: var(--font-prime)
    font-size: medium
    font-style: normal
    font-weight: 400
    color: var(--color-prime)
    letter-spacing: normal


    @media (min-width: $lg)
        gap: 30px


    *
        box-sizing: border-box
        font-family: var(--font-prime)
        font-style: normal

    *::before
        box-sizing: border-box
        font-family: var(--font-prime)
        font-style: normal

    *::after
        box-sizing: border-box
        font-family: var(--font-prime)
        font-style: normal


    ul, li
        list-style: none

    img
        @include image


    input[type="text"]
        &::-webkit-input-placeholder
            opacity: 1
            transition: opacity 0.2s ease
        &::-moz-placeholder
            opacity: 1
            transition: opacity 0.2s ease
        &:-moz-placeholder
            opacity: 1
            transition: opacity 0.2s ease
        &:-ms-input-placeholder
            opacity: 1
            transition: opacity 0.2s ease

        &:focus
            &::-webkit-input-placeholder
                opacity: 0
                transition: opacity 0.2s ease
            &::-moz-placeholder
                opacity: 0
                transition: opacity 0.2s ease
            &:-moz-placeholder
                opacity: 0
                transition: opacity 0.2s ease
            &:-ms-input-placeholder
                opacity: 0
                transition: opacity 0.2s ease


    .invisible
        position: absolute !important
        width: 1px !important
        height: 1px !important
        margin: -1px !important
        border: 0 !important
        padding: 0 !important
        white-space: nowrap !important
        clip-path: inset(100%) !important
        clip: rect(0 0 0 0) !important
        overflow: hidden !important
        z-index: -1 !important


    .hide
        display: none !important


    .collapse
        display: grid
        grid-template-rows: 0fr
        overflow: hidden
        transition: var(--base-transition)

        .inner
            position: relative
            top: 20px
            min-height: 0
            opacity: 0
            transition: var(--base-transition)

        &.open
            grid-template-rows: 0fr

            .inner
                opacity: 1
                top: 0


    .button
        display: inline-flex
        align-items: center
        justify-content: center
        width: auto
        height: 40px
        padding: 0 20px
        cursor: pointer
        user-select: none
        transition: var(--base-transition)
        transition-property: background, border-color, color

        text-align: center
        text-decoration: none
        font-size: 14px
        letter-spacing: 0.14px
        border-radius: 2px
        border: 2px solid var(--color-button-prime)

        @media (min-width: $lg)
            height: 50px

        &_block
            width: 100%

        &_dark
            background-color: var(--color-button-prime)
            color: var(--color-button-font-lite)

            @media (hover: hover) and (pointer: fine)
                &:hover
                    background: var(--color-button-hover)
                    border-color: var(--color-button-hover)
                    color: var(--color-button-font-lite)

        &_lite
            background-color: var(--color-button-sec)
            color: var(--color-button-font-dark)

            @media (hover: hover) and (pointer: fine)
                &:hover
                    background-color: var(--color-button-prime)
                    color: var(--color-button-font-lite)

        &.disabled
            pointer-events: none
            background: var(--color-button-disabled)
            border-color: var(--color-button-disabled)
            color: var(--color-button-font-disabled)


    &__caption
        display: block
        margin: 0
        padding: 0
        color: var(--color-prime)
        font-size: 26px
        line-height: 111.687% /* 35.74px */

        @media (min-width: $lg)
            font-size: 32px


    &__body
        display: flex
        flex-direction: column
        gap: 20px

        @media (min-width: $lg)
            flex-direction: row